/*
primary: #6eceb2  mint green
accent: #ece81a   yellow
bg: #ffffff
bg accent: #f4364c red
light gray: #e7e8e9
disabled: #9c9c9c gray
foregrouund: #000000  black
dark blue #01426a

look into hosting
add logo
add title 

*/

@font-face{
    font-family: 'RobotoRegular';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}


body{
    font-family: RobotoRegular;
    background: linear-gradient(180deg, #6eceb2 20%, #01426a);
    color: #000000; 
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
    list-style: none;
    list-style-type: none;  

}
.quiz-container{
    width: 500px;
    background: #ffffff; 
    border-radius: 20px;
    margin-top: 200px;
  
    padding: 40px 60px; 
    box-sizing: border-box; 
}


.Logo{
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 130px;
    padding: 5px 10px;
    

}

/* .title{
    margin-top: 60px !important;
    font-size: 40px;
    font-family: RobotoRegular;
 
   
} */



/* .active-question-no{
        font-size: 32px; 
        font-weight: 500; 
        color: #01426a;
        display: inline-block;
     
};


.total-question{
        font-size:16px;
        font-weight: 500;
        color: #9c9c9c; 
}; */

h2{
        font-size: 20px;
        font-weight: 200 !important;
        margin: 0;

};

ul{
        margin-top: 20px;
        margin-left: -40px;
        list-style: none;
        list-style-type: none;
    
       
}

li{
        text-decoration: none;
        border: 1px solid #e6e8e9;
        background: #e7e8e9;
        font-size: 16 px;
        list-style: none;
        padding: 15px;
        margin-top: 15px;
        cursor: pointer;
        border-radius: 16px;

}

.selected-answer{
    border: 1px solid #000000;
    color: #01426a;
    background: #9c9c9c;
}

.footer{
    display: flex; 
    justify-content: space-between;
}
.back-button{
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 42px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    background: #e6e8e9;
    

}

button{
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 42px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    background: #6eceb2;
    
}

    
:disabled{
    color: #000000;
    cursor: not-allowed;
    background: #eceded;
}
    
.landing-page{
    text-align: center;
    padding: 12px;
}
.landing-page h1{
    font-size: 30px;
}

.result{
    text-align: center;
    line-height: 1.2;

}
    
.result h3{
    font-size: 25px;
    letter-spacing: 1.2px;
    text-align: center;
}

.result-heading{
    font-size: 40px !important;
    font-weight: 350;
    color: #01426a;
    text-align: center;
    
    

}
.result p{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

 
   





    
 
   


