/*
primary: #6eceb2  mint green
accent: #ece81a   yellow
bg: #ffffff
bg accent: #f4364c red
light gray: #e7e8e9
disabled: #9c9c9c gray
foregrouund: #000000  black
dark blue #01426a
*/

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(180deg, #6eceb2 0.05%, #01426a);
    color: #000000; 
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
    list-style: none;
    list-style-type: none;  

}
.quiz-container{
    width: 500px;
    background: #ffffff; 
    border-radius: 20px;
    margin-top: 100px;
  
    padding: 30px 60px; 
    box-sizing: border-box; 
}

    .active-question-no{
        font-size: 32px; 
        font-weight: 500; 
        color: #01426a;
        display: inline-block;
     
    };


    .total-question{
        font-size:16px;
        font-weight: 500;
        color: #9c9c9c; 
    };

    h2{
        font-size: 20px;
        font-weight: lighter;
        margin: 0;

    };

    ul{
        margin-top: 20px;
        margin-left: -40px;
        list-style: none;
        list-style-type: none;
    
       
    }

    li{
        text-decoration: none;
        border: 1px solid #000000;
        background: #e7e8e9;
        font-size: 16 px;
        list-style: none;
        padding: 11px;
        margin-top: 15px;
        cursor: pointer;
        border-radius: 2px;

    }
    


    
 
   





    
 
   


